/*
 * @Description: 数据传输处理层
 * @Usage: 
 * @Author: xxx
 * @Date: 2020-12-22 15:24:25
 * @LastEditTime: 2021-11-24 17:02:51
 */

import { Component } from "koatty";
import { IsNotEmpty } from "koatty_validation";

@Component()
export class _CLASS_NAME {
    // @IsNotEmpty()
    // name: string;

    //_FIELDS
}