/*
 * @Description: 数据传输处理层
 * @Usage: 
 * @Author: xxx
 * @Date: 2020-12-22 15:24:25
 * @LastEditTime: 2020-12-22 19:57:16
 */

import { Component, IsNotEmpty } from "koatty";

@Component()
export class <ClassName> {
    // @IsNotEmpty()
    // name: string;
}