/*
 * @Description: 数据持久层
 * @Usage: 
 * @Author: xxx
 * @Date: 2020-12-22 15:24:25
 * @LastEditTime: 2020-12-22 20:01:59
 */
import { BaseModel, Entity, PrimaryColumn, Column } from "thinkorm";
import { Component, Value } from 'koatty';
import { App } from '<Path>/App';

@Component()
@Entity('<New>')
export class <ClassName> extends BaseModel {
    app: App;

    @Value("database", "db")
    config: any;

    @PrimaryColumn()
    id: number;

    @Column(20, '', true, true)
    name: string;
}